body {
    background-color: lightgrey;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p {
   font-size: 120%; 
}

strong {
    font-size: larger;
}

div {
    border: solid;
    padding: 12%;
    border-image-source:url(Cartoon.jfif);
    box-shadow:20px 20px 25px black;
    font-size: 170%;
    height: 10cm;
    width: 60%;
    margin: auto;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-image-width: 100px;
    border-image-slice: 100;
}